<div class="panel panel-default">
    <div class="panel-heading"><%= title %></div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="task-detail-title" class="col-sm-2 control-label">Title</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="task-detail-title" placeholder="title"
                           value="<%= title %>">
                </div>
            </div>
        </form>
    </div>
</div>