<span class="task-list-title">
    <%= title %>
</span>
<div class="pull-right action-buttons">
    <a href="#" class="collaborators"><span class="glyphicon glyphicon-user"></span></a>
    <a href="#" class="delete-task"><span class="glyphicon glyphicon-trash"></span></a>
</div>