<input type="checkbox" class="checkbox complete" <%= ('completed' === status) ? 'checked' : '' %> />
<div class="pull-right action-buttons">
    <a href="#" class="delete-task"><span class="glyphicon glyphicon-trash"></span></a>
</div>
<span class="task-title">
    <%= title %>
</span>
