<ul class="list-group task-list">
    <li class="list-group-item task-list-item add-task-item">
        <input id="add-task-input" type="text" placeholder="Add Task..."/>
    </li>
    <!-- Tasks go here -->
</ul>