// Source: Bootsnipp.com
@import "components/_login";
@import "components/_task-list";

body {
  padding-top: 70px;
}

#task-list-all {
  .btn-group {
    width: 100%;
  }
}

#task-detail {
  form {
    padding: 10px;
  }
}

.container {
  width: 100% !important;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}

#add-task-input {
  border: 0;
  background: transparent;
  outline: none;
}